<div class="main">
  <nav class="navigation">
    <ul class="btn-container">
      <li [routerLink]="'/pageShopping'">Shop</li>
    </ul>
  </nav>

  <div class="user-main">
    <div class="user-container">
      <p class="container-id">User ID</p>
      <p class="container-details">Order Details</p>
      <p class="container-subtotal">Subtotal</p>
      <p class="container-total">Total</p>
    </div>
    <div *ngFor="let x of orders" class="user-container">
      <p class="user-id">{{x.user_id}}</p>
      <p class="user-details"><button [routerLink]="['/pageUser', x.id]" class="details">More</button></p>
      <p class="user-subtotal">$ {{x.subtotal}}</p>
      <p class="user-total">$ {{x.total}}</p>
    </div>
  </div>
</div>
<router-outlet></router-outlet>