<div class="main">
  <nav class="navigation">
    <ul class="btn-container">
      <li [routerLink]="'/pageShopping'">Shop</li>
    </ul>
  </nav>

  <div class="user-main">
    <div *ngFor="let x of orders">
      <p class="user-id">{{x.user_id}}</p>
      <p class="user-details"><button [routerLink]="['/pageUser', x.id]" class="details">Details</button></p>
      <p class="user-subtotal">{{x.subtotal}}</p>
      <p class="user-total">{{x.total}}</p>
    </div>
  </div>
</div>
<router-outlet></router-outlet>