<div class="main">
  <nav class="navigation">
    <ul class="btn-container">
      <li [routerLink]="'/pageUser'">Users</li>
    </ul>
  </nav>

  <div class="shopping-main">
    <div class="shopping-cart">
      <div *ngFor="let unit of products" class="info-container">
        <div class="product-info">
          <p class="product-name">{{unit.name}}</p>
          <p class="product-description">{{unit.description}}</p>
        </div>
        <p class="product-price">${{unit.price}}</p>
      </div>
    </div>
    <div class="shopping-checkout">
      <div class="price-info">
        
      </div>
      <button type="submit" class="checkout">Checkout</button>
    </div>
  </div>
</div>