<div class="main">
  <nav class="navigation">
    <ul class="btn-container">
      <li><a [routerLink]="'/pageUser'">Users</a></li>
    </ul>
  </nav>

  <div class="shopping-main">
    <div class="shopping-cart">
      <ng-container *ngFor="let unit of products">
        <h3 class="product-name">{{unit.name}}</h3>
        <h4 class="product-description">{{unit.description}}</h4>
        <h4 class="product-price">{{unit.price}}</h4>
      </ng-container>
    </div>
    <div class="shopping-checkout"></div>
  </div>
</div>