<div class="main">
  <nav class="navigation">
    <ul class="btn-container">
      <li [routerLink]="'/pageShopping'">Shop</li>
      <li [routerLink]="'/pageUser'">Users</li>
    </ul>

    <p>{{userOrder | json}}</p>
  </nav>

  <div class="details-main">
      <div *ngFor="let x of details">
        <p class="product-name">{{x.name}}</p>
        <p class="product-details">{{x.quantity}}</p>
        <p class="product-total">{{x.checkoutPrice}}</p>
    </div>
    <h1>{{total}}</h1>
  </div>
</div>