<div class="main">
  <div class="details-main">
    <div class="details-info">
      <p class="container-name">Name</p>
      <p class="container-quantity">Quantity</p>
      <p class="container-total">Subtotal</p>
    </div>
    <div *ngFor="let x of details">
      <div class="details-info">
        <p class="product-name">{{x.name}}</p>
        <p class="product-quantity">{{x.quantity}}</p>
        <p class="product-total">$ {{x.checkoutPrice}}</p>
      </div>
    </div>
    <p class="order-total">Total: $ {{total}}</p>
  </div>
</div>